################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SwordStudio.NET
/SwordStudio.NET/.vs
/SwordStudio.NET/bin/Debug
/SwordStudio.NET/obj/Debug
/SwordStudio.NET/Properties
